@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates|Josefin+Sans|Open+Sans|Julius+Sans+One);
/* Font families:
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Julius Sans One', sans-serif;
*/